# 1. Keep lines sorted alphabetically in this file
# 2. Do not add OS or IDE specific lines here — do it in the global .gitignore: https://gist.github.com/subfuzion/db7f57fff2fb6998a16c
# -----------------------
storage
vendor/
node_modules/
/.phpunit.cache
/build
/node_modules
/packages/*/
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.lando.local.yml
.phpactor.json
.phpunit.result.cache
auth.json
composer.lock
npm-debug.log
phpunit.xml
