# 1. Keep lines sorted alphabetically in this file
# 2. Do not add OS or IDE specific lines here — do it in the global .gitignore:
#    https://gist.github.com/subfuzion/db7f57fff2fb6998a16c

/.phpactor.json
/.phpunit.cache
/.phpunit.result.cache
/.lando.local.yml
/.env
/.env.backup
/.env.production
/.npm-debug.log
/.auth.json
/composer.lock
/node_modules/
/packages/*/
/vendor/

/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
!/storage/framework/cache/data/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep

/app/Policies/

/storage/*.key
/storage/pail

/build

/phpunit.xml

npm-debug.log
